body{
    background-image: url(https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg);
    background-size: cover;
}
h1{
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 30px;

    font-weight: 500;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-shadow: 15px 10px 9px #ffffff;
    cursor: context-menu;
}
h3{
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    list-style: none;
    text-align: center;
    cursor: context-menu;
}
a{
    color: crimson;
    text-align: end;
    list-style: none;
}
